<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row no-gutters d-flex" id='Deals'>

    </div>


    <script>
        
        var div1 = document.createElement('div');
        div1.innerHTML = 'Hi there!';
        div1.className = 'col-md-5 col-lg-4 d-flex box';

        var div2  = document.createElement('div')
        div2.className = 'services-wrap d-flex'

        var anchortag = document.createElement('a')
        anchortag.className = 'img'
        //anchortag.style.style.backgroundImage = "https://picsum.photos/300/300"

        var div3 = document.createElement('div');
        div3.className = 'text p-4';

        heading = document.createElement('h3')
        var node1 = document.createTextNode("This is new.");
        heading.appendChild(node1);

        p1 = document.createElement('p')
        var node2 = document.createTextNode("This is new.");
        p1.appendChild(node2);

        p2 = document.createElement('p')
        var node3 = document.createTextNode("This is new.");
        heading.appendChild(node3);

        p3 = document.createElement('p')
        p3.className = "price"

        span = document.createElement('span')
        span.textContent = "23 RU";

        btn = document.createElement('a')
        btn.className = 'ml-2 btn btn-white btn-outline-white'
        btn.textContent = "Order";


        element = document.getElementById('Deals')
        element.appendChild(div1);

        div1.appendChild(div2);
        div2.appendChild(anchortag);

        div2.appendChild(div3);

        div3.appendChild(heading);
        div3.appendChild(p1);
        div3.appendChild(p2);
        div3.appendChild(p3);

        p3.appendChild(span)
        p3.appendChild(btn)


    </script>
</body>
</html>